# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/node_modules/

# DS_Store created by Mac automatically. I Don't know why.
.DS_Store
*/.DS_Store